NODE_ENV=development
PORT=5001

DB_HOST=localhost
DB_PORT=3306
DB_NAME=sync_dealer_almotores
DB_USER=root
DB_PASSWORD=

JWT_SECRET=change_me_super_secret
JWT_EXPIRES_IN=1d

CORS_ORIGIN=http://localhost:5173
